In [1]:
import sqlite3 as sql

In [2]:
database = sql.connect("sample.db")

In [3]:
database

In [4]:
database.execute("Create table students(name varchar(10));")

In [8]:
database.execute("insert into students values('Rohith')")

In [9]:
database.execute("select * from students")

In [10]:
students = database.execute("select * from students")
students

In [11]:
for student in students:
    print(student)

('Rohith',)

In [13]:
%%writefile sample.txt
this is the first line of the file
second
third

Writing sample.txt

In [41]:
file = open('sample.txt', 'r')

In [30]:
file.seek(0)

0

In [31]:
file.readlines()

['this is the first line of the file\n', 'second\n', 'third\n']

In [29]:
file.read()

'this is the first line of the file\nsecond\nthird\n'

In [37]:
file = open('sample.txt', 'w')

In [48]:
file.write("I am Rohith")

UnsupportedOperation: not writable

In [46]:
file.seek(0)

0

In [47]:
file.read()

''